.poiAdderDIV {
    position: absolute;
    top: 95%;
    right: 0;
    z-index: 2;
    margin-right: 80px;
    display: flex;
    place-items: center;


}


.poiAdderButton a {
    background-color: white;
    border-radius: 90px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    white-space: nowrap;
    width: 60%;
    padding: 2.5px 5px;
    margin-left: 40px;
    position: center;
    display: block;
    place-items: center;
    text-align: center;
}

.poiAdderDIV input {
    background-color: white;
    border-radius: 90px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;
    height: 20px;
}
