.user_login_window {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-right: 110px;
    margin-top: 5px;
    display: flex;
    width: 500px;
    place-items: center;


}
.user_login_form{
    background-color: white;
    border-radius: 90px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;
    white-space:nowrap;
    width:  100%;
    padding: 2.5px 5px;
    margin-left: 40px;
    position: center;
    display: block;
    place-items: center;
    text-align: center;
}

.user_login_form input{
    background-color: white;
    border-radius: 90px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;
    white-space:nowrap;

    padding: 5px 10px;
    margin: 2px auto;
    place-items: center;
}

.user_login_form label{
    position: center;


}
.user_login_form .fa {
    transform: scale(1.8,1.8);
}

.user_login_form a:hover{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}
.user_icon_button{
    padding: 5px 10px;
    margin: 2px auto;
    background: rgba(255, 255, 255, 0);
    border: none;
    place-items: center;
}

#user_login_submit{
    background-color: #191919;
    border-radius: 90px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;
    white-space:nowrap;
    color: white;
    padding: 5px 10px;
    margin: 2px auto;
    place-items: center;
}