.search
{
    background-color: white;

    border-radius: 100px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;

    width: 95%;
    white-space: nowrap;

    margin: 5px auto;
    padding: 3px 10px;
}

.search #magni {
    float: right;
}

.search a.icon {
    font-size: 25px;
    color: gray;
}

.search input {
    font-size: 25px;
    width: 70%;
    border-style: hidden;
}

.search input:focus, textarea:focus, select:focus {
    outline: none;
}

.menu {
    background-color: gray;
    padding: 0 10px;
    display: inline-block;
    width: 25%;
    align-content: center;
    border-radius: 30px;
    margin-right: -100%;

    position: relative;
    float: left;
    z-index: 1;

    pointer-events: auto;
}

.menu a.icon {

    text-decoration: none;
    font-size: 25px;
    color: gray;
}


.select {
    background-color: white;

    border-radius: 100px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;

    white-space: nowrap;
    width: calc(95% + 20px);

    margin: 5px auto;
    padding: 5px 0px;
}

.select a:hover {
    background-color: lightgray;
    border: #191919 solid 2px;
    margin: -2px;
    border-radius: 25px;
    padding: 7px 0;
}

.select {
    text-align: center;
}

.select i {
    min-width: calc(32.666%);
}

.box {
    background-color: white;

    border-radius: 25px;
    border-color: #191919;
    border-width: 2px;
    border-style: solid;

    white-space: nowrap;
    width: 95%;

    padding: 3px 10px;
    margin: 5px auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #191919;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #191919;
    cursor: pointer;
}

.buttonselected {
    background-color: lightgray;
    border: #191919 solid 2px;
    margin: -2px;
    border-radius: 25px;
    padding: 7px 0;
}

.searchButton {
    font-family: Helvetica;
    font-size: 18px;

    transition: .3s all ease-in-out;
    color: black;
    background-color: white;
    border: #191919 solid 0px;
    margin: 2px;
    border-radius: 25px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchButton:hover{
    transition: .3s all ease-in-out;
    color: white;
    background-color: rgba(25, 25, 25, 0.8);
}


#search_recomendations {
    font-family: Helvetica;
    border-radius: 0 0 25px 25px;
    margin-top: -7px;
}

#searchbarround {
    border-radius: 25px 25px 0 0;
    padding-top: 5px;
}

#checkboxPoi {
    font-family: Helvetica;
    font-size: 20px;
}


#addpoi table {
    font-family: Helvetica;
    margin: 0 auto; /* or margin: 0 auto 0 auto */

}

#addpoi input {
    margin: 0px auto; /* or margin: 0 auto 0 auto */
}


.buttonaddpoi {
    background-color: lightgrey;
    border: 2px solid #191919;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;

}

.buttonaddpoi a {
    display: block;
    color: gray;
    padding: 0 20px;
    text-decoration: none;

}

.onoffswitch {
    position: relative; width: 49px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 24px; padding: 0; line-height: 24px;
    border: 2px solid #E3E3E3; border-radius: 24px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 24px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 23px;
    border: 2px solid #E3E3E3; border-radius: 24px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #919191;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #919191;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

.check_3_close {
    display: flex;
    text-align: center;
}

.textstyle{
    font-family: Helvetica;
    text-align: center;

    font-size: 20px;
    text-align: center;
    padding-left: 6px;
    padding-top: 2px;

}

.box {
    font-family: Helvetica;
}

.selectedPois {

}